@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --Dark-Blue: hsl(217, 19%, 35%);
  --Desaturated-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Blue: hsl(210, 46%, 95%);

  --fnt-Size: 0.8125rem;
}
