@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --Dark-Blue: hsl(217, 19%, 35%);
  --Desaturated-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Blue: hsl(210, 46%, 95%);

  --fnt-Size: 0.8125rem;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/**/
body {
  font-family: "Manrope";
  color: var(--Dark-Blue);
  background-color: var(--Light-Blue);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
}
article {
  display: flex;
  max-width: 45.625rem;
  max-height: 17.5rem;
  background-color: white;
}
.imgDrawer {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.content {
  position: relative;
  margin: 2.625rem 2rem 1.5rem 2rem;
}

.content h1 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4375rem;
  margin-bottom: 1.375rem;
}

.text {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.125rem;
  margin-bottom: 2.5rem;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-user_informations {
  display: flex;
  gap: 1rem;
}

.user_informations_name {
  font-size: 0.8125rem;
  font-weight: 700;
}

.profile picture img {
  width: 2.5rem;
  border-radius: 50%;
}

.button {
  background-color: var(--Light-Blue);
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.button img {
  width: 1rem;
}

.social_links {
  display: flex;
  position: absolute;
  background-color: aqua;
  width: 100%;
  height: 4rem;
  border-bottom-right-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}

.display_none {
  display: none;
}

/* Abaixo de 600px */

/* Abaixo de 400px */
